option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
    allow_url_fopen: "On"
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_KEY: base64:44cyzPQ+pYFpDz6VLgH3G9jRGXOmTvQe7mUq/PAqDWU=
    APP_DEBUG: true
    DB_CONNECTION: mysql
    DB_HOST: iot-staging-2.crpz0ca9ci4i.ap-southeast-1.rds.amazonaws.com
    DB_DATABASE: iot
    DB_USERNAME: iotdev
    DB_PASSWORD: guradra16
    AWS_ACCESS_KEY_ID: AKIAJR5JJLMMLXKH5YAA
    AWS_SECRET_ACCESS_KEY: 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
    AWS_DEFAULT_REGION: ap-southeast-1
    AWS_BUCKET: iot-bucket-v3